.headline1 {
  font-size: 40px;
  font-weight: 700;
}

.headline2 {
  font-size: 24px;
  font-weight: 400;
}

.text1 {
  font-size: 22px;
  font-weight: 400;
}

.text2 {
  font-size: 20px;
  font-weight: 400;
}

.text3 {
  font-size: 18px;
  font-weight: 700;
}

.text4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}
