.Headline1{
  font-size: 40px;
  font-weight: 700;
}

.Headline2{
  font-size: 24px;
  font-weight: 400;
}

.Text1{
  font-size: 22px;
  font-weight: 400;
}

.Text2{
  font-size: 20px;
  font-weight: 400;
}

.Text3{
  font-size: 18px;
  font-weight: 700;
}

.Text4{
  font-size: 16px;
  font-weight: 400;
}

