html,
body {
  min-height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-image: url("../public/backgrounds/background-main.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
