html,
body {
  min-height: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-image: url("../public/backgrounds/background-main.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #d9d9d9;
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background: #888;
  width: 20px;
  height: 20px;
  border-radius: 50px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #888;
  width: 20px;
  height: 20px;
  border-radius: 50px;
}